Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, test, lint

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

lint:
  stage: test
  script:
  - mix format --check-formatted

Simplify CI
  .gitlab-ci.yml
Due: test, lint

Fix duplicate request mocks
  test/support/http_request_mock.ex
Due: test, lint

Simplify CI a lot more
  .gitlab-ci.yml
Due: test, lint

Upgrade hackney to v1.23.0
  mix.exs
  mix.lock
Due: deps, test, lint

allow for creating single-option polls
  lib/pleroma/web/common_api/utils.ex
Due: test, lint

create changelog file
  changelog.d/single-option-polls.change
Due: none

Path conditions:
  deps: any of: mix.lock
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
