Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: release, openapi, test, test-erratic, lint, analysis, cycles

release:
  stage: test
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix coveralls --preload-modules

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  image: elixir:1.12-alpine
  stage: test
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  image: elixir:1.12-alpine
  stage: test
  cache: {}
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  - mix compile
  ...

Document Oban workers getting timeouts defined
  CHANGELOG.md
Due: none

Clarify config description
  config/description.exs
Due: release, test, test-erratic, lint, analysis, cycles

Update config cheatsheet
  docs/configuration/cheatsheet.md
Due: none

Lint
  config/description.exs
Due: release, test, test-erratic, lint, analysis, cycles

Added translation using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/default.po
Due: none

Added translation using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/config_descriptions.po
Due: none

Translated using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/errors.po
Due: none

Extract deactivated users query to a join
  lib/pleroma/activity.ex
Due: release, test, test-erratic, lint, analysis, cycles

Fix reports which do not have a user
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: release, test, test-erratic, lint, analysis, cycles

Add same optimized join for excluding invisible users
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: release, test, test-erratic, lint, analysis, cycles

Document query performance improvement
  CHANGELOG.md
Due: none

Object.Fetcher: Set reachable on successful fetch
  lib/pleroma/object/fetcher.ex
  test/pleroma/object/fetcher_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Deletes do not generate notifications of any kind, so skip trying
  CHANGELOG.md
  lib/pleroma/web/activity_pub/side_effects.ex
Due: release, test, test-erratic, lint, analysis, cycles

Alter priority of Delete activities to be lowest
  CHANGELOG.md
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/federator.ex
  test/pleroma/workers/publisher_worker_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Bump credo
  mix.exs
  mix.lock
Due: release, test, test-erratic, lint, analysis, cycles

Tell newer Credo it's OK to exit 0 on single with clauses and piping into anonymous functions for now
  .credo.exs
Due: release, test, test-erratic, lint, analysis, cycles

Privacy policy API
  config/config.exs
  config/description.exs
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Add domain_blocks and extended_description endpoints
  config/config.exs
  config/description.exs
  lib/pleroma/upload.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/webhook.ex
  lib/pleroma/webhook/notify.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Only keep domain_blocks for now
  config/config.exs
  config/description.exs
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Update lib/pleroma/web/plugs/http_security_plug.ex
  lib/pleroma/web/plugs/http_security_plug.ex
Due: release, test, test-erratic, lint, analysis, cycles

Update http_security_plug.ex
  lib/pleroma/web/plugs/http_security_plug.ex
Due: release, test, test-erratic, lint, analysis, cycles

try to fix ruffle on chrome
  lib/pleroma/web/plugs/http_security_plug.ex
Due: release, test, test-erratic, lint, analysis, cycles

Document inclusion of wasm-unsafe-eval
  CHANGELOG.md
Due: none

Remove Quack from docs and cheatsheet
  docs/configuration/cheatsheet.md
  docs/development/API/admin_api.md
Due: none

Flag an Object, not an Activity
  lib/pleroma/web/activity_pub/utils.ex
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
  test/pleroma/web/common_api_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix report api
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/admin_api/report.ex
  test/pleroma/web/mastodon_api/controllers/report_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix unit tests
  lib/pleroma/web/activity_pub/utils.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix UtilsTest
  test/pleroma/web/activity_pub/utils_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Verify link ownership with rel="me"
  lib/pleroma/user.ex
  lib/pleroma/workers/background_worker.ex
  test/pleroma/user_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

rename tests
  test/pleroma/language/language_detector_test.exs
  test/pleroma/language/translation/deepl_test.exs
  test/pleroma/language/translation_test.exs
  test/pleroma/webhook/notify_test.exs
  test/pleroma/webhook_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

fix
  lib/pleroma/user.ex
Due: release, test, test-erratic, lint, analysis, cycles

fix tests
  lib/pleroma/user.ex
  lib/pleroma/webhook/notify.ex
  test/pleroma/webhook/notify_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Do not verify links in bio
  lib/pleroma/user.ex
Due: release, test, test-erratic, lint, analysis, cycles

Use correct domain for fqn and InstanceView
  lib/pleroma/user.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/web_finger.ex
Due: release, test, test-erratic, lint, analysis, cycles

update tests
  test/pleroma/user_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

don't use restrict_filtered twice
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: release, test, test-erratic, lint, analysis, cycles

Add only_events param to timelines
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/operations/timeline_operation.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles

api/v1/pleroma/events/joined_events
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/web/router.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Fix remote follow redirect
  lib/pleroma/web/twitter_api/controllers/remote_follow_controller.ex
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Disable inline images
  config/config.exs
  priv/scrubbers/default.ex
  test/pleroma/web/activity_pub/mrf/normalize_markup_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Path conditions:
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
