Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: release, openapi, test, test-erratic, lint, analysis, cycles

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test

deps:
  stage: deps
  variables:
    MIX_ENV: prod
  script:
    - mix deps.get
    - mix deps.compile
    - rsync -av _build/prod _build/test
  cache:
    <<: *cache
    policy: pull-push

release:
  stage: test
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: *elixir-changes
  services: &db-services
  - name: postgres:13-alpine
    alias: postgres
    command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix coveralls --preload-modules

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  image: &current-elixir elixir:1.12-alpine
  stage: test
  only:
    changes: *elixir-changes
  before_script: &current-setup
    - apk update
    - apk add build-base cmake file-dev git openssl
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  image: *current-elixir
  stage: test
  only:
    changes: *elixir-changes
  cache: {}
  before_script: *current-setup
  script:
    - mix compile
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: deps
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_ENVIRONMENT_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/$CI_ENVIRONMENT_SLUG
  script: dokku-deploy
  allow_failure: true

Add migration cooldown period
  config/config.exs
  config/description.exs
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  priv/repo/migrations/20220927220033_add_last_move_at_to_users.exs
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

ci/Dockerfile: tabs to spaces
  ci/Dockerfile
Due: none

Revert "Merge branch 'from/upstream-develop/tusooa/2169-queue-limit' into 'develop'"
  config/config.exs
Due: release, test, test-erratic, lint, analysis, cycles

CI Docker: remove README, adapt build_and_push.sh
  ci/README
  ci/build_and_push.sh
Due: none

GenerateUnsetUserKeys: only select necessary user fields
  priv/repo/migrations/20220905011454_generate_unset_user_keys.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix deprecation warning for Gun timeout
  lib/pleroma/config/deprecation_warnings.ex
Due: release, test, test-erratic, lint, analysis, cycles

Fix event updates
  lib/pleroma/constants.ex
  lib/pleroma/object/updater.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
Due: release, test, test-erratic, lint, analysis, cycles

Add notifications for updates in events you joined
  lib/pleroma/notification.ex
  lib/pleroma/object/updater.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  priv/repo/migrations/20220819171321_add_pleroma_participation_accepted_to_notifications_enum.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Push.Impl: support edits
  lib/pleroma/web/push/impl.ex
  test/pleroma/web/push/impl_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

TagValidator: allow Link tags, don't go nuclear for unrecognized Tag types
  lib/pleroma/web/activity_pub/object_validators/tag_validator.ex
  test/fixtures/fep-e232.json
  test/fixtures/tesla_mock/mitra.social_01830912-1357-d4c5-e4a2-76eab347e749.json
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/support/http_request_mock.ex
Due: release, test, test-erratic, lint, analysis, cycles

Update scheduled notitfications on edit
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/workers/event_reminder_worker.ex
  mix.exs
  mix.lock
Due: release, test, test-erratic, lint, analysis, cycles

Update spec, fix tests
  lib/pleroma/activity.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/api_spec/schemas/event.ex
  lib/pleroma/web/api_spec/schemas/location_result.ex
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  test/pleroma/web/activity_pub/side_effects_test.exs
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Add some tests
  config/test.exs
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  test/fixtures/tesla_mock/nominatim_search_results.json
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/search_controller_test.exs
  test/support/http_request_mock.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Add more tests
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/fixtures/tesla_mock/nominatim_single_result.json
  test/pleroma/notification_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
  test/support/http_request_mock.ex
Due: release, test, test-erratic, lint, analysis, cycles

Fix down() in AddUpdateToNotificationsEnum migration for Rebased
  priv/repo/migrations/20220605185734_add_update_to_notifications_enum.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix tests
  test/pleroma/web/activity_pub/transmogrifier/event_handling_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

MovePinnedActivitiesIntoPinnedObjects: make associated_object_id function available
  priv/repo/migrations/20210205145000_move_pinned_activities_into_pinned_objects.exs
Due: release, test, test-erratic, lint, analysis, cycles

GitLab CI: tag `dind`
  .gitlab-ci.yml
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Add support for FEP-e232 quotes without quoteUrl
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/fixtures/fep-e232.json
Due: release, test, test-erratic, lint, analysis, cycles

Add index on activities type Fixes https://gitlab.com/soapbox-pub/rebased/-/issues/111
  priv/repo/migrations/20221009164221_add_activities_type_index.exs
Due: release, test, test-erratic, lint, analysis, cycles

Tag erratic Move tests
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
  test/pleroma/web/mastodon_api/views/notification_view_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

FEP-e232: support Link mediaType "application/activity+json"
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: release, test, test-erratic, lint, analysis, cycles

Use content instead of source and scrub it
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Add logging to milisiearch index and make it use desc(id)
  lib/mix/tasks/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Ensure only indexing public posts and implement clearing and delete
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/activity.ex
  lib/pleroma/search/meilisearch.ex
  lib/pleroma/web/common_api.ex
Due: release, test, test-erratic, lint, analysis, cycles

Make meilisearch sort on publish date converted to unix time
  lib/mix/tasks/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Tweak search ordering to hopefully return newer results
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Initial meilisearch implementation, doesn't delete posts yet
  config/config.exs
  config/test.exs
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/activity.ex
  lib/pleroma/activity/search.ex
  lib/pleroma/application.ex
  lib/pleroma/search/meilisearch.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/mastodon_api/controllers/search_controller.ex
Due: release, test, test-erratic, lint, analysis, cycles

Make the indexing batch differently and more, show number indexed
  lib/mix/tasks/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Add tests for local post indexing for meilisearch
  config/test.exs
  test/pleroma/search/meilisearch_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Add search/meilisearch documentation
  docs/configuration/search.md
Due: none

Add the meilisearch.stats command
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Set content-type to application/json
  lib/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Rename search.ex to database_search.ex and add search/2
  lib/pleroma/search/database_search.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/mastodon_api/controllers/search_controller.ex
Due: release, test, test-erratic, lint, analysis, cycles

Make search a callback
  lib/pleroma/search/database_search.ex
  lib/pleroma/search/meilisearch.ex
  lib/pleroma/search/search_backend.ex
Due: release, test, test-erratic, lint, analysis, cycles

Instead of checking string length, explicitly check for "" and "."
  lib/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Change the meilisearch key auth to conform to 0.25.0
  docs/configuration/search.md
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles

Also index incoming federated posts
  lib/pleroma/search/search.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/common_api.ex
Due: release, test, test-erratic, lint, analysis, cycles

Use oban for search indexing
  config/config.exs
  lib/pleroma/search.ex
  lib/pleroma/workers/search_indexing_worker.ex
Due: release, test, test-erratic, lint, analysis, cycles

Implement meilisearch auth
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/search/meilisearch.ex
Due: release, test, test-erratic, lint, analysis, cycles
