Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: release, openapi, test, test-erratic, lint, analysis, cycles

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test

deps:
  stage: deps
  variables:
    MIX_ENV: prod
  script:
    - mix deps.get
    - mix deps.compile
    - rsync -av _build/prod _build/test
  cache:
    <<: *cache
    policy: pull-push

release:
  stage: test
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: *elixir-changes
  services: &db-services
  - name: postgres:13-alpine
    alias: postgres
    command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix coveralls --preload-modules

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  image: &current-elixir elixir:1.12-alpine
  stage: test
  only:
    changes: *elixir-changes
  before_script: &current-setup
    - apk update
    - apk add build-base cmake file-dev git openssl
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  image: *current-elixir
  stage: test
  only:
    changes: *elixir-changes
  cache: {}
  before_script: *current-setup
  script:
    - mix compile
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: deps
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_ENVIRONMENT_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/$CI_ENVIRONMENT_SLUG
  script: dokku-deploy
  allow_failure: true

GitLab CI: do use cache for cycles
  .gitlab-ci.yml
Due: release, openapi, test, test-erratic, lint, analysis, cycles

GitLab CI: improve dokku URLs
  .gitlab-ci.yml
Due: release, openapi, test, test-erratic, lint, analysis, cycles

GitLab CI: build docker image
  .gitlab-ci.yml
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Dokku: force push to git
  .gitlab-ci.yml
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Add `geospatial` package dependency
  lib/pleroma/config_db.ex
  lib/pleroma/web/pleroma_api/views/search_view.ex
  mix.exs
  mix.lock
Due: release, test, test-erratic, lint, analysis, cycles

Add icalendar to dependencies
  mix.exs
  mix.lock
Due: release, test, test-erratic, lint, analysis, cycles

Display location, `mix format`
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Create notifications async with NotificationWorker, #91
  config/config.exs
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/workers/notification_worker.ex
Due: release, test, test-erratic, lint, analysis, cycles

Clarify `birthday_min_age` config description
  config/description.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix tests for async notifications
  test/mix/tasks/pleroma/digest_test.exs
  test/pleroma/migration_helper/notification_backfill_test.exs
  test/pleroma/notification_test.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/notification_controller_test.exs
  test/pleroma/web/push/impl_test.exs
  test/pleroma/workers/cron/digest_emails_worker_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

GitLab CI: only run deps when mix.lock changes
  .gitlab-ci.yml
Due: release, openapi, test, test-erratic, lint, analysis, cycles

StatusView: remove conversation_id
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: release, test, test-erratic, lint, analysis, cycles

ContextObjectsDeletionMigrator: make it work with object FlakeIds
  lib/pleroma/migrators/context_objects_deletion_migrator.ex
Due: release, test, test-erratic, lint, analysis, cycles

Fixes, add/update tests
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/workers/event_reminder_worker.ex
  test/pleroma/web/activity_pub/side_effects_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
  test/support/factory.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Update description.exs with :poll_notifications and :notifications oban queues
  config/description.exs
Due: release, test, test-erratic, lint, analysis, cycles

Extract translatable strings
  priv/gettext/config_descriptions.pot
  priv/gettext/errors.pot
  priv/gettext/static_pages.pot
Due: none

NotificationTest: update edit notification test for async worker
  test/pleroma/notification_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Use paths from mastodon groups implementation
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Revert "Merge branch 'from/upstream-develop/tusooa/assoc-object-id' into 'develop'"
  lib/mix/tasks/pleroma/database.ex
  lib/pleroma/activity.ex
  lib/pleroma/activity/queries.ex
  lib/pleroma/migrators/hashtags_table_migrator.ex
  lib/pleroma/notification.ex
  lib/pleroma/object.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  priv/repo/migrations/20220711182322_add_associated_object_id_function.exs
  priv/repo/migrations/20220711192750_switch_to_associated_object_id_index.exs
  priv/repo/migrations/20220821004840_change_thread_visibility_to_use_new_object_id_index.exs
  test/pleroma/activity_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Tag erratic tests
  test/pleroma/notification_test.exs
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix User.get_or_fetch/1 with usernames starting with http
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

ObjectView: do not fetch an object for its ID
  lib/pleroma/object.ex
  lib/pleroma/web/activity_pub/views/object_view.ex
  test/pleroma/web/activity_pub/views/object_view_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Use set of pregenerated RSA keys
  test/fixtures/rsa_keys/key_1.pem
  test/fixtures/rsa_keys/key_2.pem
  test/fixtures/rsa_keys/key_3.pem
  test/fixtures/rsa_keys/key_4.pem
  test/fixtures/rsa_keys/key_5.pem
  test/support/factory.ex
Due: release, test, test-erratic, lint, analysis, cycles

soapbox-fe --> soapbox
  config/config.exs
  docs/administration/CLI_tasks/frontend.md
  lib/pleroma/web/utils/colors.ex
  priv/static/index.html
  test/mix/tasks/pleroma/frontend_test.exs
  test/pleroma/web/o_status/o_status_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Tag erratic tests
  test/pleroma/notification_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix wrong relationship direction
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Slow down ContextObjectsDeletionMigrator
  config/soapbox.exs
Due: release, test, test-erratic, lint, analysis, cycles

User: search: exclude deactivated users from user search
  lib/pleroma/user/search.ex
  test/pleroma/user_search_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Reduce incoming and outgoing federation queue sizes to 5
  config/config.exs
Due: release, test, test-erratic, lint, analysis, cycles

format
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/notification.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/api_spec/schemas/location_result.ex
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Make instance document controller test sync
  test/pleroma/web/admin_api/controllers/instance_document_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Store `participation_request_count`
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: release, test, test-erratic, lint, analysis, cycles

Add extra routes to :users_manage_credentials privilege
  lib/pleroma/web/router.ex
  test/pleroma/web/admin_api/controllers/admin_api_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Add shortcuts and share_target to manifest.json
  lib/pleroma/web/views/manifest_view.ex
  priv/static/images/shortcuts/chats.png
  priv/static/images/shortcuts/notifications.png
  priv/static/images/shortcuts/search.png
Due: release, test, test-erratic, lint, analysis, cycles

Fix notification display
  lib/pleroma/web/mastodon_api/views/notification_view.ex
Due: release, test, test-erratic, lint, analysis, cycles

Fix participation requests query
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
Due: release, test, test-erratic, lint, analysis, cycles

Store internal location data
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/federator.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: release, test, test-erratic, lint, analysis, cycles

Only allow event author to accept/reject joins
  lib/pleroma/web/activity_pub/side_effects.ex
Due: release, test, test-erratic, lint, analysis, cycles

event editing?
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/web/plugs/set_application_plug.ex
  lib/pleroma/web/router.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles
