Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: release, openapi, test, test-erratic, lint, analysis, cycles

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test

deps:
  stage: deps
  variables:
    MIX_ENV: prod
  script:
    - mix deps.get
    - mix deps.compile
    - rsync -av _build/prod _build/test
  cache:
    <<: *cache
    policy: pull-push

release:
  stage: test
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: *elixir-changes
  services: &db-services
  - name: postgres:13-alpine
    alias: postgres
    command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix coveralls --preload-modules

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  image: &current-elixir elixir:1.12-alpine
  stage: test
  only:
    changes: *elixir-changes
  before_script: &current-setup
    - apk update
    - apk add build-base cmake file-dev git openssl
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  image: *current-elixir
  stage: test
  only:
    changes: *elixir-changes
  cache: {}
  before_script: *current-setup
  script:
    - mix compile
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: deps
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_ENVIRONMENT_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/$CI_ENVIRONMENT_SLUG
  script: dokku-deploy
  allow_failure: true

Send event updates to participants
  lib/pleroma/web/activity_pub/builder.ex
Due: release, test, test-erratic, lint, analysis, cycles

CommonAPI: generate ModerationLog for all admin/moderator deletes
  lib/pleroma/web/admin_api/controllers/chat_controller.ex
  lib/pleroma/web/admin_api/controllers/status_controller.ex
  lib/pleroma/web/common_api.ex
  test/pleroma/web/admin_api/controllers/chat_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Add Accept test
  test/pleroma/web/activity_pub/transmogrifier/accept_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier/join_handling_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Use color overrides from frontend configuration
  lib/pleroma/web/templates/layout/app.html.eex
  lib/pleroma/web/utils/colors.ex
Due: release, test, test-erratic, lint, analysis, cycles

Let favicon be configurable
  config/config.exs
  config/description.exs
  lib/pleroma/web/fallback/redirect_controller.ex
  priv/static/index.html
  test/pleroma/web/fallback_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Render title and favicon on all pages that serve index.html
  lib/pleroma/web/fallback/redirect_controller.ex
  test/pleroma/web/fallback_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Expose favicon URL in instance API
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

mix format
  config/description.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix OStatusControllerTest
  test/pleroma/web/o_status/o_status_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Bump a ton of dependencies
  mix.exs
  mix.lock
Due: release, test, test-erratic, lint, analysis, cycles

Add most (all?) the promex setup
  config/dev.exs
  config/prod.exs
  lib/pleroma/application.ex
  lib/pleroma/prom_ex.ex
  lib/pleroma/web/endpoint.ex
  lib/pleroma/web/plugs/metrics_predicate.ex
  mix.exs
  mix.lock
Due: release, test, test-erratic, lint, analysis, cycles

Remove unnecessary newline
  lib/pleroma/web/endpoint.ex
Due: release, test, test-erratic, lint, analysis, cycles

Don't use a fake ecto feature
  lib/pleroma/webhook.ex
Due: release, test, test-erratic, lint, analysis, cycles

Make release not break things but be dumb
  config/prod.exs
Due: release, test, test-erratic, lint, analysis, cycles

Replace deprecated @view_module
  lib/pleroma/web/templates/feed/feed/_tag_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.rss.eex
  lib/pleroma/web/templates/feed/feed/user.atom.eex
  lib/pleroma/web/templates/feed/feed/user.rss.eex
  lib/pleroma/web/templates/layout/email.html.eex
  lib/pleroma/web/templates/layout/embed.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/consumer.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
Due: none

Add /api/v2/instance route
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

mix format
  config/prod.exs
Due: release, test, test-erratic, lint, analysis, cycles

Do not use contentMap if content is not empty
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: release, test, test-erratic, lint, analysis, cycles

Allow to specify post language
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/activity_pub/views/object_view.ex
  lib/pleroma/web/common_api/activity_draft.ex
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

StatusView: display language
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Add internal (not managable from API) webhooks
  lib/pleroma/web/admin_api/controllers/fallback_controller.ex
  lib/pleroma/web/admin_api/controllers/webhook_controller.ex
  lib/pleroma/web/admin_api/views/webhook_view.ex
  lib/pleroma/web/api_spec/operations/admin/webhook_operation.ex
  lib/pleroma/webhook.ex
  priv/repo/migrations/20221029171353_add_internal_to_webhooks.exs
  test/pleroma/web/admin_api/controllers/webhook_controller_test.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Store remote post language information
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
Due: release, test, test-erratic, lint, analysis, cycles

WIP Translation backends support
  lib/pleroma/application.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/router.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Expose translation service availability
  config/description.exs
  lib/pleroma/translation.ex
  lib/pleroma/translation/deepl.ex
  lib/pleroma/translation/libretranslate.ex
  lib/pleroma/translation/service.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: release, openapi, test, test-erratic, lint, analysis, cycles

Add tests
  lib/pleroma/translation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/translation_test.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/support/translation_mock.ex
Due: release, test, test-erratic, lint, analysis, cycles

Do not translate non-public statuses
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Fix get_language_from_context
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: release, test, test-erratic, lint, analysis, cycles

Update description.exs
  config/description.exs
  lib/pleroma/translation/deepl.ex
  lib/pleroma/translation/libretranslate.ex
Due: release, test, test-erratic, lint, analysis, cycles

Rename
  config/description.exs
  lib/pleroma/language/translation.ex
  lib/pleroma/language/translation/deepl.ex
  lib/pleroma/language/translation/libretranslate.ex
  lib/pleroma/language/translation/provider.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/language/translation_test.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/support/translation_mock.ex
Due: release, test, test-erratic, lint, analysis, cycles

Return an error if replying to a deleted status Fixes https://gitlab.com/soapbox-pub/rebased/-/issues/119
  lib/pleroma/web/common_api/activity_draft.ex
  test/pleroma/web/common_api_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Language detection
  config/description.exs
  lib/pleroma/application_requirements.ex
  lib/pleroma/language/language_detector.ex
  lib/pleroma/language/language_detector/fasttext.ex
  lib/pleroma/language/language_detector/provider.ex
  lib/pleroma/language/translation.ex
  lib/pleroma/web/common_api/activity_draft.ex
Due: release, test, test-erratic, lint, analysis, cycles

expanding WebFinger
  config/config.exs
  config/test.exs
  lib/pleroma/http.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/web_finger.ex
  test/fixtures/tesla_mock/framatube.org_host_meta
  test/fixtures/tesla_mock/status.alpicola.com_host_meta
  test/fixtures/webfinger/masto-host-meta.xml
  test/fixtures/webfinger/masto-user.json
  test/fixtures/webfinger/masto-webfinger.json
  test/fixtures/webfinger/pleroma-host-meta.xml
  test/fixtures/webfinger/pleroma-user.json
  test/fixtures/webfinger/pleroma-webfinger.json
  test/pleroma/user_test.exs
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
  test/pleroma/web/web_finger/web_finger_controller_test.exs
  test/pleroma/web/web_finger_test.exs
  test/support/http_request_mock.ex
Due: release, test, test-erratic, lint, analysis, cycles

docs & changelog
  CHANGELOG.md
  docs/configuration/how_to_serve_another_domain_for_webfinger.md
Due: none

XML WebFinger user representation correct domain
  lib/pleroma/web/web_finger.ex
Due: release, test, test-erratic, lint, analysis, cycles

docs update
  docs/configuration/how_to_serve_another_domain_for_webfinger.md
Due: none

rebase fix
  lib/pleroma/web/web_finger.ex
  test/pleroma/user_test.exs
  test/pleroma/web/web_finger_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

Update to Phoenix 1.6 and chase dependencies
  .gitlab-ci.yml
  Dockerfile
  ci/Dockerfile
  config/test.exs
  lib/pleroma/web/templates/feed/feed/_tag_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.rss.eex
  lib/pleroma/web/templates/feed/feed/user.atom.eex
  lib/pleroma/web/templates/feed/feed/user.rss.eex
  lib/pleroma/web/templates/layout/email.html.eex
  lib/pleroma/web/templates/layout/embed.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/consumer.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
  mix.exs
  mix.lock
  priv/repo/migrations/20221103014611_create_oban_peers.exs
  priv/repo/migrations/20221103014728_swap_primary_oban_indexes.exs
Due: release, openapi, test, test-erratic, lint, analysis, cycles

NotificationTest: remove n/a test
  test/pleroma/notification_test.exs
Due: release, test, test-erratic, lint, analysis, cycles

ObjectValidators: fix validate_required on embeds_many fields
  lib/pleroma/web/activity_pub/object_validators/attachment_validator.ex
  lib/pleroma/web/activity_pub/object_validators/audio_video_validator.ex
Due: release, test, test-erratic, lint, analysis, cycles

Fix test warnings
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
Due: release, test, test-erratic, lint, analysis, cycles
